.container-image {
    position: absolute;
    right: 12%;
    top: 12%
}

.profilePic {
    height: 600px;
    width: auto;
    border-radius: 50%;
    border: #cddc39 solid;
    filter: drop-shadow(0px 0px 8px #ff5722)
}